doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Logger ESP32 : Capteurs
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
	body
		.container-fluid
			.row
				.col-md-12
					nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-dark.bg-dark.static-top
						button.navbar-toggler(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
							span.navbar-toggler-icon
						a.navbar-brand(href="#") Logger
						#bs-example-navbar-collapse-1.collapse.navbar-collapse
							ul.navbar-nav
								li.nav-item
									a.nav-link(href="/") Heure 
								li.nav-item.active
									a.nav-link(href="#") Capteurs
								li.nav-item
									a.nav-link(href="/graph") Graphiques
					.jumbotron(style="text-align:center;")
						h2
							| Capteurs
						br
						#tableDiv
							table.table.table-bordered.table-hover
								thead.thead-dark
									tr
										th#title1
										th#title2
								tbody
									tr
										td#data1
										td#data2
						p
							button.btn.btn-primary(type="button" onclick="updateTable()") Update
		script(src="js/bootstrap.min.js")
		script(src="js/websocket.js")
